.wy-side-nav-search {
   background-color: #343131;
}

.wy-side-nav-search input[type="text"] {
   /* border-color: #272525; */
   border-color: #343131;
}

.wy-nav-top {
   /* display: block; */
   background: #343131;
}

.wy-nav-content {
   max-width: none;
}

div[class^='highlight'] {
   border-radius: 0px;
   background: #EFF3F5;
}

.rst-content dl:not(.docutils) dt {
   background: none;
   border-top: solid 1px #CFCFCF;
}

.rst-content dl:not(.docutils) tt {
   background-color: #ECF0F3;
   /* font-weight: normal; */
}

.rst-content dl:not(.docutils) tt.descname {
   font-weight: bold;
   font-size: 120%;
}


.rst-content dl:not(.docutils) tt.descclassname {
   background-color: transparent;
   font-family: monospace;
   font-weight: lighter;
   font-size: 120%;
}
/* Fonts */
body,
button,
input,
select,
textarea {
	font-family: 'Inconsolata', 'PT Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Inconsolata', 'PT Sans Narrow', sans-serif;
}

h2 {
   font-size: 150%;
   background-color: none;
   border-bottom: 1px solid #ccc;
}

p, li {
    font-size: 13px !important;
    line-height: 1.6em;
    color: #666666;
}

div#menudivDrlm {
	border-bottom: 7px solid #cc0000;
	padding: 1.5em;
}

div#menudivDrlm a {
	color: #e2e2e2;
	font-size: 13px;	
}

@media screen and (min-width: 770px) {
    div#divspacer1 {
	    height: 85px;
	}

	nav.wy-nav-side {
	    margin-top: 85px;
	}
}
